/* --- Normalize --- */ 

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

figure, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

/* --- Global --- */

$primary-color: white;
$secondary-color: red;
$tertiary-color: gray;
$text-color: black;
$background-color: lightgray;
/*
$shadow-color: ;
$border-radius: em;
$main-padding: em;
*/

/* --- Layout --- */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 25em;
    position: relative;
}

/* --- Styling --- */

body {
    background-color: $background-color; 
    font-family: sans-serif;
}

.card {
    background-color: $primary-color;
}

img { 
   max-width: 100%; 
}

.red {
    background-color: $secondary-color;
    color: $primary-color;
}
#date {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 3.5em;
    overflow: hidden;
    border-radius: 50%;
}
#photos {
    padding: 0.5em;
    text-transform: uppercase;
    position: relative;
    top: -2em;
}
article {
    color: $text-color;
    padding: 2rem;
    padding-top: 0;
    position: relative;
}

h1.title  { 
    color: $secondary-color;
    font-size: 2em;
    font-weight: normal;
}

h2.title {
    color: $text-color;
    font-size: 1.5em;
    font-weight: normal;
}

.gray {
    color: $tertiary-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    li {
        padding: 1em;
        padding-left: 0;
        padding-bottom: 0;
    }
}

/* --- Animation --- */ 

/* Image */ 
.card {
    overflow:hidden;
    .image {
        max-width: 100%;
        
        transition-duration: 400ms;
        transition-property: transform;
    }
    &:hover {
        .image {
            transform: scale(1.5)
        }
    }
}

/* Text */
.card {
    cursor: pointer;

    #text-overflow {
        height: 0;
        overflow: hidden;
        transition-property: height, overflow;
        transition-duration: 400ms;
    }

    &:hover {
        #text-overflow {
            height: auto;
            overflow:visible;
        }
    }
}