/* --- Normalize --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

figure, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* --- Global --- */
/*
$shadow-color: ;
$border-radius: em;
$main-padding: em;
*/
/* --- Layout --- */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 25em;
  position: relative;
}

/* --- Styling --- */
body {
  background-color: lightgray;
  font-family: sans-serif;
}

.card {
  background-color: white;
}

img {
  max-width: 100%;
}

.red {
  background-color: red;
  color: white;
}

#date {
  position: absolute;
  top: 1em;
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5em;
  width: 3.5em;
  overflow: hidden;
  border-radius: 50%;
}

#photos {
  padding: 0.5em;
  text-transform: uppercase;
  position: relative;
  top: -2em;
}

article {
  color: black;
  padding: 2rem;
  padding-top: 0;
  position: relative;
}

h1.title {
  color: red;
  font-size: 2em;
  font-weight: normal;
}

h2.title {
  color: black;
  font-size: 1.5em;
  font-weight: normal;
}

.gray {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gray li {
  padding: 1em;
  padding-left: 0;
  padding-bottom: 0;
}

/* --- Animation --- */
/* Image */
.card {
  overflow: hidden;
}

.card .image {
  max-width: 100%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.card:hover .image {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* Text */
.card {
  cursor: pointer;
}

.card #text-overflow {
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, overflow;
  transition-property: height, overflow;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.card:hover #text-overflow {
  height: auto;
  overflow: visible;
}
/*# sourceMappingURL=style.css.map */